debug: true
generic:
  bindAddress: 0.0.0.0
  port: 8080
  tlsCertFile: ""
  tlsPrivateKey: ""
log:
  logFile: ""
  logFileMaxSizeMB: 100
  toStderr: true
  level: debug
  encodeType: console
  maxBackups: 5
  maxAge: 30
  compress: false
  useLocalTime: true