{{ .Boilerplate }}

package validate

import (
	"{{ .Repo }}/pkg/errdetails"
	"github.com/go-playground/validator/v10"
	"github.com/labstack/echo/v4"
	"net/http"
)

type CustomValidator struct {
	validator *validator.Validate
}

func (cv *CustomValidator) Validate(i interface{}) error {
	if err := cv.validator.Struct(i); err != nil {
		return &echo.HTTPError{
			Code: http.StatusBadRequest,
			Message: errdetails.BizError{
				Code:     http.StatusBadRequest,
				Reason:   err.Error(),
				Metadata: nil,
			},
			Internal: nil,
		}
	}
	return nil
}

func New() *CustomValidator {
	return &CustomValidator{validator: validator.New()}
}
